<header>
    <div id="cog-container">
        <i class="bi bi-gear"></i>
    </div>
    <div id="hamburger-container">
        <i class="bi bi-list"></i>
        <div class="dropdown-content">
          <a href="{{ url_for('login_urlfor') }}">Login</a>
          <a href="{{ url_for('hub_urlfor') }}">Hub</a>
          <a href="{{ url_for('live_classes_urlfor') }}">Live Classes</a>
          <a href="{{ url_for('news_urlfor') }}">News</a>
          <a href="{{ url_for('exercise_urlfor') }}">Exercises</a>
          <a href="{{ url_for('dietary_urlfor') }}">Dietary</a>
          <a href="{{ url_for('diary_and_tracker_urlfor') }}">Diary and Tracker</a>
      </div>
    </div>
</header>