<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Achievements</title>
  <link rel="stylesheet" href="../static/styles/base.css">
  <link rel="stylesheet" href="../static/styles/achievements.css">

  {% include 'includes/bootstrap.html' %}
</head>

<body>
  {% include 'includes/header.html' %}
  <div class="grid-container">
    <div class="grid-item-complete">Complete 100 exercises</div>
    <div class="grid-item">Complete 500 exercises</div>
    <div class="grid-item">Complete 1,000 exercises</div>
    <div class="grid-item">Complete 2,500 exercises</div>
    <div class="grid-item">Complete 5,000 exercises</div>
    <div class="grid-item">Complete all running exercises</div>
    <div class="grid-item">Complete all bicep exercises</div>
    <div class="grid-item">Complete all back exercises</div>
    <div class="grid-item">Complete all sholder exercises</div>
    <div class="grid-item">Complete all chest exercises</div>
    <div class="grid-item">Complete all core exercises</div>
    <div class="grid-item">Complete all tricep exercises</div>
    <div class="grid-item">Complete all leg exercises</div>
    <div class="grid-item">Row 1, Column 2</div>
    <div class="grid-item">Row 1, Column 3</div>
    <div class="grid-item">Row 2, Column 1</div>
    <div class="grid-item">Row 2, Column 2</div>
    <div class="grid-item">Row 2, Column 3</div>
    <div class="grid-item">Row 1, Column 1</div>
    <div class="grid-item">Row 1, Column 2</div>
    <div class="grid-item">Row 1, Column 3</div>
    <div class="grid-item">Row 2, Column 1</div>
    <div class="grid-item">Row 2, Column 2</div>
    <div class="grid-item">Row 2, Column 3</div>
    <div class="grid-item">Row 1, Column 1</div>
    <div class="grid-item">Row 1, Column 2</div>
    <div class="grid-item">Row 1, Column 3</div>
    <div class="grid-item">Row 2, Column 1</div>
    <div class="grid-item">Row 2, Column 2</div>
    <div class="grid-item">Row 2, Column 3</div>
    
    <!-- repeat for 20 rows -->
  </div>
</body>

</html>