<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker Live Classes</title>
    <link rel="stylesheet" href="../../static/styles/base.css">
    <link rel="stylesheet" href="../../static/styles/live-class.css">
    <script src="../../static/script/live-class.js" defer></script>

  {% include 'includes/bootstrap.html' %}

</head>

<body>

    {% include 'includes/header.html' %}

    <main>
      <div id="live-class-stream-and-chat-container">
        <div id="live-class-stream-container">
          <img id="image">
          <div id="live-class-overlay">
            <div id="live-class-overlay-top">
              <p id="name"></p>
              <p>Lorem Ipsum</p>
            </div>
            <div id="live-class-overlay-bottom">
              <ul>
                <li id="play-button"><img src="../../static/images/live-class-images/play-button.png"></li>
                <li id="volume-slider"><input type="range" min="1" max="100" value="50"></li>
                <li id="settings-cog"><p class="bi bi-gear" /></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="live-class-chat-container">
          <div id="live-class-chat">
            <ul id="live-class-chat-ul">
              
            </ul>
            <div id="live-class-chat-box">
              <input type="text">
            </div>
          </div>
        </div>
      </div>
      <div id="live-class-description-container">
        <div id="live-class-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </main>
  
    {% include 'includes/footer.html' %}

</body>

</html>