<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker News</title>
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/news.css">
    <script src="../static/script/news.js" defer></script>

  {% include 'includes/bootstrap.html' %}

</head>

<body>

    {% include 'includes/header.html' %}

    <div id="news-main">
        <div id="news-main-headings">
            <div class="news-headline-container">
                <img class="headline-image" />
                <span class="headline-title"></span>
                <span class="headline-preview"></span>
            </div>
            <div class="news-headline-container">
                <img class="headline-image" />
                <span class="headline-title"></span>
                <span class="headline-preview"></span>
            </div>
            <div class="news-headline-container">
                <img class="headline-image" />
                <span class="headline-title"></span>
                <span class="headline-preview"></span>
            </div>
            <div class="news-headline-container">
                <img class="headline-image" />
                <span class="headline-title"></span>
                <span class="headline-preview"></span>
            </div>
            <div class="news-headline-container">
                <img class="headline-image" />
                <span class="headline-title"></span>
                <span class="headline-preview"></span>
            </div>
            <div class="news-headline-container">
                <img class="headline-image" />
                <span class="headline-title"></span>
                <span class="headline-preview"></span>
            </div>
        </div>
        <div id="news-main-adverts"></div>
    </div>    

    {% include 'includes/footer.html' %}

</body>

</html>