<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker Registration Form</title>
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/registration.css">
    {% include 'includes/bootstrap.html' %}
    <script defer src="../static/script/registration.js"></script>

</head>
<body>
    {% include 'includes/header.html' %}

    <main>

        <form id="signup-form" action="/registration" method="post">
            <h1>Sign Up</h1>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-group">
                <label for="surname">Surname:</label>
                <input type="text" name="surname" id="surname">
            </div>
            <div class="form-group">
              <div class="form-group">
                  <label for="Dob">Date of Birth:</label>
                  <input type="date" name="Dob" id="Dob">
              </div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="email-again">Email Again:</label>
                <input type="email" name="email-again" id="email-again">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-group">
                <label for="password-again">Password Again:</label>
                <input type="password" name="password-again" id="password-again">
            </div>
            <button type="submit">Register</button>
            <h4>Already a member?<br><a href="/login">Login here</a></h4>
        </form>

    </main>

    {% include 'includes/footer.html' %}

</body>
</html>