.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 2rem;
}
.grid-item {
  background-color: var(--base-turquiose);
  padding: 20px;
  text-align: center;
}

.grid-item-complete {
  background-color: #f5e699;
  padding: 20px;
  text-align: center;
}
main{
  background-color: var(--background-dark);
}