/* Google Font "Poppins" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800&display=swap');


/* variables */
:root {
    --jet: #3A3238;
    --gray: #545863;
    --text-color: aliceblue;
    --bg-light: aliceblue;
    --bg-dark:#2c2534;
    --cyan: #01BAEF;
    --aquamarine: #7AE7C7;
    --primary-yellow: #FFFF1C;
    --citrine: #DDD92A;
    --raspberry: #D81159;
    --quinarcidone-magenta: #8F2D56;
    --pink-lavander: #E7BBE3;
    --melon: #EDAF97;
    --border-light: #ccc;
    /* Colours pack 1 */
    --background-dark: #2c2534;
    --background-dark-light-accent:#362e3d;
    --base-dark-cyan: #006474;
    --base-light-turquiose: #61c3ac;
    --base-turquiose: #94CDC6;
    --accent-green: #6ab37c;
    --accent-dark-green: #397147;
    --text-light: aliceblue;
    --text-dark: #3A3238;
    --base-light-gray: #696c72;
    --anchor-text-dark: #000;

}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center; 
    font-family: 'Poppins', Garamond, Arial, sans-serif;
}

/* general */
body {
    background-color: var(--bg-light);
    min-height: 100vh;
}

main {
    min-height: 100vh;
}

section a {
  text-decoration: none;
  color: var(--anchor-text-dark);
}

a {
    text-decoration: none;
    color: var(--anchor-text-dark);
}

a > * {
    text-decoration: none;
    color: var(--anchor-text-dark);
}

li {
    list-style-type: none;
}


/* partial components like header, footer etc */
/* header where cog icon and hamburger menu reside */
header {
    background-image: linear-gradient(to left, var(--base-dark-cyan), var(--base-light-turquiose));
    display: flex;
    justify-content: space-between;
}

#cog-container {
    display: flex;
    align-items: center; /* aligns item on the equator */
    height: 80px;
}

.bi-gear {
    font-size: 44px;
    margin: 0 20px;
    color: var(--jet);
}
}

.bi:hover {
    cursor: pointer;
}

#hamburger-container {
    display: flex;
    align-items: center; /* aligns item on the equator */
}

.bi-list {
    margin: 0 20px;
    font-size: 44px;
}

/* dropdown styles and functionalities (they are used on the hamburger menu icon) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--aquamarine);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    border-radius: 5px;
    z-index: 100; /* please do not set back to 1 or the text in the pages will ovelap and cause the dropdown to close */
    right: 10px;
}

#hamburger-container {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: var(--jet);
    font-size: 1.15rem;
}

.dropdown-content a:hover {
    background-color: var(--bg-light);
}

/* prevents the dropdown from disappearing when moving away from the hamburger menu */
#hamburger-container:hover .dropdown-content {
    display: block;
}

/* footer */
footer {
  color: var(--text-color);
  min-height: 100px;
  background-color: var(--jet);
  display: flex;
  align-items: center;
}

footer p {
margin: 0 auto;
}

/* media queries */
@media screen and (min-width: 768px) {
  footer p {
    font-size: 1.4rem;
  }
}