
main {
    min-height: 100vh;
    background-color: var(--citrine);
    padding: 20px;
}

#diary-exercise-main-container{
  display: flex;
  justify-content: space-between;
}

#diary-entries {
  padding: 10px;
}

#diary-entries p {
  margin-top: 1rem;
}

/* .delete-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: red;
} */

.delete-button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--gray);
  margin-bottom: 1rem;
}

#exercise-container {
    border-left: 1px solid var(--text-color);
}

#search-bar {
  margin-bottom: 1rem;
}

#search-bar input {
  border-radius: 5px;
  border: none;
}

#exercise-container ul {
    padding: 0;
}

#exercise-list li h3 {
  margin: 1rem auto;
}

#exercise-list li p {
  line-height: 0.5rem;
}

.diary-exercise-boxes {
    color: var(--text-color);
    background-color: var(--jet);
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    padding: 20px 10px;

}

.forms {
  border: 1px solid var(--jet);
  max-width: 600px;
  margin: 0 auto 2rem auto;
  padding: 20px;
}

/* diary form */
#diary-entry {
  text-align: left;
}

/* media queries */
@media screen and (max-width: 600px) {
  #diary-exercise-main-container {
        display: block;

    }

    .diary-exercise-boxes {
        margin: 20px auto;
        width: 80%;
    }

    #exercise-container {
        border: none;
    }
}