body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}

#live-class-stream-and-chat-container {
    display: flex;
    flex: 1;
}

#live-class-stream-container,
#live-class-chat-container {
    flex: 1;
    background-color: var(--background-dark);
}

#live-class-stream-container {
    position: relative;
}

#image {
    padding: 2vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: auto;
    display: block;
}

#live-class-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--base-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s;
}

#live-class-overlay:hover {
    opacity: 1;
}

#live-class-overlay-top,
#live-class-overlay-bottom {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

#live-class-overlay-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#live-class-overlay-top p {
    font-size: 2rem;
    color: var(--text-light);
}

#live-class-overlay-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#live-class-overlay-bottom ul li {
    float: left;
}

#name {
    margin-right: 20px;
}

#live-class-chat-container {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    box-sizing: border-box;
    background-color: var(--background-dark-light-accent);
}

#live-class-chat {
    display: contents;
}

#live-class-chat-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: 100%;
}

#live-class-chat-ul li {
  color: var(--text-light)
}

#live-class-chat-box {
    margin-top: auto;
}

#live-class-chat-box input {
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
    text-align: left;
}

#live-class-description-container {
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--base-light-grey)
}

#live-class-description {
    background-color: var(--base-turquiose);
    padding: 20px;
    box-sizing: border-box;
}
