main {
  background-color: var(--background-dark);
}

#news-main {
    height: auto;
    padding: 6vh 0;
    background-color: var(--background-dark);
    display: flex;
}

#news-main-headings {
    width: 68%;
    height: 80vh;
    margin: 0 0 0 2%;
    background-color: var(--background-dark-light-accent);
    overflow-y: scroll;
}

.news-headline-container {
    width: 98%;
    height: auto;
    margin: 1%;
    background-color: var(--base-dark-cyan);
    display: flex;
    align-items: center;
    padding: 1%;
}

.headline-image {
    width: 30%;
    max-height: 100%;
    object-fit: cover;
    margin-right: 2%;
}

.headline-text-container {
    display: flex;
    flex-direction: column;
    width: 68%;
}

.headline-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.2em;
    color: var(--text-light);
}

.headline-preview {
    font-size: 1.2em;
    color: var(--text-light);
}


#news-main-adverts{
    width: 28%;
    background-color: var(--base-turquiose);
    background-image: url(../../static/images/news-images/sports-advert.jpg);
    background-size: cover;
    background-position: center;
}


/* @media screen and (max-width: 1100px) {
    #news-main {
        flex-direction: column;
    }

} */